  <div id="login_div" class="container-fluid">
    <h3>Figurados y Mallas privileged sesion</h3>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password_field" placeholder="Password">
      </div>
     
    <button onclick="login()" class="btn btn-primary" >Login to Account</button>
  </div>
<!-- Begin Page Content -->
<!--Ejemplo tabla con DataTables-->
    <div class="container" id="user_div">

      <h1>Mensajes</h1>
        <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">        
                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Mensaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each Data}}
                            <tr>                              
                                <td>{{email}}</td>
                                <td>{{firstname}}</td>
                                <td>{{last}}</td>
                                <td>{{message}}</td>                              
                            </tr>
                            {{/each}}              
                        </tbody>        
                       </table>                  
                    </div>
                </div>
        </div>  

         <h1>Solicitudes de cotización</h1>
        <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">        
                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Mensaje</th>
                                <th>Nombre</th>
                                <th>Contenido</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each Data2}}
                            <tr>                              
                                <td>{{emailCotz}}</td>
                                <td>{{messageCotz}}</td>
                                <td>{{nameCotz}}</td>
                                <td>{{subjectCotz}}</td>                              
                            </tr>
                            {{/each}}              
                        </tbody>        
                       </table>                  
                    </div>
                </div>
        </div>  


    </div>    
      